@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff2") format("woff2");
}

:root {
  --font-family: "Roboto", -apple-system, BlinkMacSystemFont, Helvetica,
    sans-serif;

  --font-size-percent: 26px;
  --font-size-body-2: 14px;
  --font-size-body: 16px;
  --font-size-heading-5: 18px;
  --font-size-heading-4: 24px;
  --font-size-heading-3: 36px;
  --font-size-heading-2: 45px;
  --font-size-heading-1: 55px;

  --lh-footnote: 18px;
  --lh-body-3: 19px;
  --lh-body-2: 22px;
  --lh-body-1: 24px;
  --lh-subheading-3: 30px;
  --lh-subheading-2: 36px;
  --lh-subheading-1: 40px;
  --lh-heading-4: 53px;
  --lh-heading-3: 45px;
  --lh-heading-2: 55px;
  --lh-heading-1: 64px;

  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;

  --grey-black: #000000;
  --grey-dark-10: #231f20;
  --grey-dark-20: #283136;
  --grey-dark-30: #444444;
  --grey-dark-40: #4d4d4d;
  --grey-dark-50: #666666;

  --grey-light-10: #a6a6a6;
  --grey-light-20: #ababab;
  --grey-light-30: #b4b9bb;
  --grey-light-40: #c1c1c1;
  --grey-light-50: #d7dcdf;
  --grey-light-60: #d7dcde;
  --grey-light-70: #d5d5d5;
  --grey-light-80: #dfdfdf;
  --grey-light-90: #dbdbdb;
  --grey-light-100: #e1e1e1;
  --grey-light-110: #f2f2f2;
  --grey-light-120: #eeeeee;
  --grey-white: #ffffff;

  --nerds-red: #fb565a;
  --nerds-red-dark-10: #e74246;
  --nerds-red-dark-20: #d7373b;

  --nerds-green: #00ca74;
  --nerds-green-dark-10: #00bc6c;
  --nerds-green-dark-20: #00aa62;

  --nerds-yellow: #efc84a;
  --nerds-yellow-dark-10: #eab534;
  --nerds-yellow-dark-20: #e5a722;

  --primary-color-text: var(--grey-black);
  --secondary-color-text: var(--grey-dark-20);
  --tertiary-color-text: var(--grey-dark-50);
  --promo-color-text: var(--grey-dark-30);

  --main-bg-color: var(--grey-white);
  --secondary-bg-color: var(--grey-light-120);

  --secondary-button-hover-color: var(--grey-light-80);
  --secondary-button-active-color: var(--grey-light-70);

  --range-slider-background: var(--grey-light-50);
  --range-slider-toggle: var(--grey-light-20);

  --filter-input: var(--grey-dark-40);
  --sort-nav: var(--grey-light-10);
  --sort-nav-active: var(--grey-dark-10);

  --border-form: var(--grey-light-60);
  --input-hover: var(--grey-light-30);

  --primary-button-color-text: var(--grey-white);

  --nerds-primary-button-color: var(--nerds-red);
  --nerds-primary-button-hover-color: var(--nerds-red-dark-10);
  --nerds-primary-button-active-color: var(--nerds-red-dark-20);

  --nerds-secondary-button-color: var(--nerds-green);
  --nerds-secondary-button-hover-color: var(--nerds-green-dark-10);
  --nerds-secondary-button-active-color: var(--nerds-green-dark-20);

  --nerds-tertiary-button-color: var(--nerds-yellow);
  --nerds-tertiary-button-hover-color: var(--nerds-yellow-dark-10);
  --nerds-tertiary-button-active-color: var(--nerds-yellow-dark-20);

  --button-active-text-light: rgb(255, 255, 255, 0.3);
  --button-active-text-dark: rgb(0, 0, 0, 0.3);
  --button-active-shadow: rgba(0, 1, 1, 0.1);
  --range-slider-shadow: rgba(0, 0, 0, 0.15);
  --modal-shadow: rgba(0, 0, 0, 0.4);

  --container-width: 1200px;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-medium);
  font-style: normal;
  font-size: var(--font-size-body);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-body {
  height: 100%;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-self: start;
  justify-items: center;
}

.main-page {
  width: 100%;
}

.container {
  width: var(--container-width);
  min-width: var(--container-width);
  padding: 0 20px 0;
  box-sizing: border-box;

  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.header {
  width: 100%;

  background-color: var(--secondary-bg-color);
  padding-top: 48px;
}

.header-navigation-logo {
  color: var(--primary-color-text);
}

.header-navigation-logo:hover {
  opacity: 0.7;
}

.header-navigation-logo:active {
  opacity: 0.3;
}

.header-navigation {
  position: relative;
  display: grid;
  grid-template-columns: 160px auto min-content;
}

.header-navigation-list {
  list-style: none;
  padding: 0 0 13px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 0 0 202px;
}

.header-navigation-list-item {
  margin-right: 46px;
  position: relative;
}

.header-navigation-list-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-size-body);
  line-height: var(--lh-subheading-3);

  text-transform: uppercase;

  color: var(--primary-color-text);
}

.header-navigation-list-item:last-child {
  margin-right: 0;
  margin-left: auto;
}

.header-navigation-list-link:hover {
  color: var(--nerds-primary-button-color);
}

.header-navigation-list-link:active {
  color: var(--primary-color-text);
  opacity: 0.3;
}

.header-navigation-list-link-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;

  width: 100%;
  height: 2px;

  background-color: var(--nerds-primary-button-color);
}

.cart {
  display: flex;
  align-items: flex-end;
  padding: 0 0 0 39px;
  position: relative;
}

.cart::before {
  background-image: url("../img/icons/action/icon-cart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  bottom: 9px;
  left: 0;
}

.slider {
  background-color: var(--secondary-bg-color);
  width: 100%;
  position: relative;
}

.slider-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0;
  padding-left: 0;
}

.slider-list-banner {
  min-width: 100%;
  padding-top: 74px;
  padding-bottom: 80px;

  position: relative;
}

.slider-img {
  position: absolute;
  top: -3px;
  right: 3px;
}

.slider-list-title {
  white-space: pre-wrap;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-size-heading-1);
  line-height: var(--lh-heading-2);

  color: var(--primary-color-text);

  padding-bottom: 27px;
  margin: 0;
}

.slider-list-text {
  margin: 0 0 38px;

  white-space: pre-wrap;
}

.slider-button {
  display: inline-block;
  padding: 17px 54px 15px 55px;

  vertical-align: middle;
}

.slider-list-control {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 96px;

  margin: 0;

  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.slider-list-control-button {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  background-color: var(--grey-white);
  margin-right: 17px;
  display: block;
}

.slider-list-control-button-active::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);

  width: 4px;
  height: 4px;

  border: 2px solid var(--grey-light-40);
  border-radius: 50%;
}

.slider-list-control-item:last-child .slider-list-control-button {
  margin-right: 0;
}

.main-title {
  background-color: var(--secondary-bg-color);
  padding-top: 74px;
  padding-bottom: 108px;
  margin: 0;
  text-align: center;
}

.text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-body-1);

  color: var(--secondary-color-text);
}

.feauters {
  padding-top: 80px;
  padding-bottom: 80px;
}

.feauters-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  text-align: center;

  padding-right: 80px;
}

.feauters-list-item {
  padding-top: 145px;

  text-align: left;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.feauters-list-item-web {
  background-image: url(../img/index/illustration-notebook.jpg);
}
.feauters-list-item-app {
  background-image: url(../img/index/illustration-phones.jpg);
}

.feauters-list-item-presentation {
  background-image: url(../img/index/illustration-presentation.jpg);
}

.feauters-list-item-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-heading-4);
  line-height: var(--lh-subheading-3);
  text-transform: uppercase;

  margin: 26px 0 16px;
}

.feauters-list-item-text {
  margin: 0 0 32px;

  white-space: pre-wrap;
}

.feauters-list-item-button {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  text-transform: uppercase;

  border: none;
  border-radius: 3px;

  display: inline-block;
  vertical-align: middle;

  color: var(--primary-button-color-text);

  padding: 17px 40px 15px 39px;
}

.feauters-list-item-button:active {
  color: var(--button-active-text-light);
  box-shadow: inset 0px 3px 0px var(--button-active-shadow);
}

.button-web {
  background-color: var(--nerds-primary-button-color);
}

.button-web:hover {
  background-color: var(--nerds-primary-button-hover-color);
}

.button-web:active {
  background-color: var(--nerds-primary-button-active-color);
}

.button-app {
  background-color: var(--nerds-secondary-button-color);
}

.button-app:hover {
  background-color: var(--nerds-secondary-button-hover-color);
}

.button-app:active {
  background-color: var(--nerds-secondary-button-active-color);
}

.button-presentation {
  background-color: var(--nerds-tertiary-button-color);
}

.button-presentation:hover {
  background-color: var(--nerds-tertiary-button-hover-color);
}

.button-presentation:active {
  background-color: var(--nerds-tertiary-button-active-color);
}

.button-primary {
  background-color: var(--nerds-primary-button-color);

  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  text-transform: uppercase;

  border: none;
  border-radius: 3px;

  color: var(--grey-white);
}

.button-primary:hover {
  background-color: var(--nerds-primary-button-hover-color);
}

.button-primary:active {
  background-color: var(--nerds-primary-button-active-color);
  color: var(--button-active-text-light);
  box-shadow: inset 0px 3px 0px var(--button-active-shadow);
}

.button-secondary {
  background-color: var(--secondary-bg-color);

  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  text-transform: uppercase;

  border: none;
  border-radius: 3px;

  color: var(--primary-color-text);

  padding: 19px 89px 17px 88px;
}

.button-secondary:hover {
  background-color: var(--secondary-button-hover-color);
}

.button-secondary:active {
  background-color: var(--secondary-button-active-color);
  color: var(--button-active-text-dark);
  box-shadow: inset 0px 3px 0px var(--button-active-shadow);
}

.about {
  padding-top: 41px;
  padding-bottom: 72px;
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 149px;

  position: relative;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1160px;
  height: 2px;
  margin: 0 21px;
  background-color: var(--secondary-bg-color);
}

.about-info {
  margin-top: 34px;
}

.about-item:nth-child(2) {
  background: url(../img/index/illustration-nerds.jpg) no-repeat 0 0;
  background-size: contain;
}

.about-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-size-heading-2);
  line-height: var(--lh-heading-3);

  color: var(--primary-color-text);

  margin: 0 0 33px;
}

.about-text {
  margin: 0 0 41px;
}

.about-subtitle {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-body);
  line-height: var(--lh-body-1);

  text-transform: uppercase;

  color: var(--secondary-color-text);
  margin: 0;
}

.about-services {
  margin: 0 0 24px;
}

.about-services-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-services-list-item {
  margin-bottom: 24px;
  position: relative;
  padding-left: 37px;
}

.about-services-list-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: var(--nerds-primary-button-color);
}

.about-services-list-item:last-child {
  margin: 0;
}

.about-benefits-subtitle {
  margin: 245px 0 31px;
  text-align: center;
}

.about-benefits-number {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-heading-2);
  line-height: var(--lh-heading-1);

  color: var(--primary-color-text);
  margin: 0 0 11px;
}

.about-benefits-number-item {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-percent);
  line-height: var(--lh-subheading-1);

  color: var(--primary-color-text);
}

.about-benefits-item {
  width: 33%;
}

.about-benefits-text {
  font-family: var(--font-family);

  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  color: var(--secondary-color-text);
  margin: 0;
}

.about-benefits-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 0;
  margin: 0;
}

.partners-list {
  list-style: none;
  padding: 50px 0 44px;

  margin-bottom: 80px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  position: relative;
}

.partners-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1160px;
  height: 2px;
  margin: 0 21px;
  background-color: var(--secondary-bg-color);
}

.partners-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 1160px;
  height: 2px;
  margin: 0 21px;
  background-color: var(--secondary-bg-color);
}

.partners-list-item {
  position: relative;
}

.partners-list-item::after {
  content: "";
  position: absolute;
  top: calc(50% - (52px / 2));
  right: 0;

  width: 2px;
  height: 52px;

  background-color: var(--grey-light-120);
}

.partners-list-item:last-child::after {
  background: transparent;
}

.partners-list-item-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  color: var(--primary-color-text);
  opacity: 0.2;
}

.partners-list-item-logo:hover {
  opacity: 1;
}

.partners-list-item-logo:active {
  opacity: 0.1;
}

.footer {
  width: 100%;
}

.footer-map {
  position: relative;
  margin: 0 auto;

  margin-bottom: 68px;
  width: 100%;
  height: 415px;

  background-image: url(../img/index/map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.interactive-map {
  width: 100%;

  border: 0;
}

.footer-map-inner {
  position: absolute;
  top: 0;
  left: calc(50% - 600px);

  width: var(--container-width);
  height: 415px;

  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  pointer-events: none;
}

.footer-contacts {
  position: absolute;
  left: 20px;
  top: calc(50% - 154px);

  max-width: 320px;
  padding: 49px 50px 48px;

  box-sizing: border-box;
  background-color: var(--main-bg-color);

  pointer-events: auto;
}

.footer-contacts-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-heading-5);
  line-height: var(--lh-subheading-3);

  text-transform: uppercase;

  color: var(--primary-color-text);

  margin: 0 0 23px;
}

.footer-contacts-list-address {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  color: var(--tertiary-color-text);
  margin: 0 0 18px;

  white-space: pre-wrap;
}

.footer-contacts-list-phone {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  color: var(--tertiary-color-text);
  margin-bottom: 37px;

  display: inline-block;
  vertical-align: middle;
}

.footer-contacts-button {
  display: inline-block;
  padding: 17px 44px 15px 45px;
}

.footer-bonus-promo {
  margin-right: auto;
  padding-top: 7px;
}

.footer-bonus-promo-slogan {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-heading-3);
  line-height: var(--lh-subheading-2);

  color: var(--primary-color-text);
  margin: 0 0 10px;
}

.footer-bonus-promo-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-body-2);

  color: var(--promo-color-text);
  margin: 0;
}

.footer-bonus {
  display: grid;
  gap: 140px;
  grid-template-columns: max-content 1fr;

  justify-items: center;
  margin-bottom: 68px;
}

.footer-bonus-social {
  list-style: none;
  padding: 0;

  display: flex;
  width: 100%;
  max-width: 260px;
  justify-content: flex-start;
  margin: 0 auto 0 0;
}

.footer-bonus-social-item {
  margin-right: 9px;
}

.footer-bonus-social-item:last-child {
  margin-right: 0;
}

.footer-bonus-social-logo {
  background-color: var(--secondary-button-active-color);
  width: 81px;
  height: 81px;
  display: block;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bonus-social-logo:hover {
  background-color: var(--nerds-primary-button-hover-color);
}

.footer-bonus-social-logo:active {
  background-color: var(--nerds-primary-button-active-color);
  box-shadow: inset 0px 3px 0px var(--button-active-shadow);
}

.footer-bonus-social-logo:active img {
  opacity: 0.3;
}

.catalog-page {
  width: 100%;
}

.catalog-page-section-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 260px 1fr;

  grid-template-areas:
    "filter sort"
    "filter catalog"
    ". pagination";

  column-gap: 141px;
  margin-bottom: 60px;
}

.main-title--catalog {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-size-heading-1);
  line-height: var(--lh-heading-2);

  margin-bottom: 55px;
}

.filter {
  grid-area: filter;
}

.filter-form-item {
  margin: 0;
  padding: 0;
  border: none;
  margin: 20px 0px;
}

.filter-range-slider-controls {
  position: relative;

  margin-bottom: 14px;

  padding: 39px 22px 39px 33px;
  background-color: var(--secondary-bg-color);
  border-radius: 3px;
}

.controls-scale {
  height: 2px;
  background: var(--range-slider-background);
}
.controls-bar {
  height: 2px;
  background: var(--nerds-green);
  margin-left: 5%;
  width: 60%;
}

.toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 2px;
  border: 8px solid var(--main-bg-color);
  background-color: var(--range-slider-toggle);
  -webkit-box-shadow: 0 2px 1px 0 var(--range-slider-shadow);
  box-shadow: 0 2px 1px 0 var(--range-slider-shadow);
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  left: 20px;
}
.toggle-max {
  left: 160px;
}

.filter-grid-description {
  position: relative;
  word-break: break-word;
  padding-left: 36px;
  padding-top: 5px;
}

.grid-input-radio + .filter-grid-description::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/action/radio-off.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
}

.grid-input-radio:focus + .filter-grid-description,
.benefits-input-checkbox:focus + .filter-benefits-description {
  outline: 2px solid var(--nerds-red);
}

.grid-input-radio:checked + .filter-grid-description::before {
  content: "";
  background-image: url("../img/icons/action/radio-on.svg");
  background-size: contain;
  opacity: 0.4;
}

.grid-input-radio:hover + .filter-grid-description::before {
  opacity: 1;
}

.grid-input-radio:disabled + .filter-grid-description::before {
  opacity: 0.3;
}

.filter-benefits-description {
  position: relative;
  padding-left: 37px;
  padding-top: 2px;
  word-break: break-word;
}

.benefits-input-checkbox + .filter-benefits-description::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 23px;
  width: 25px;
  background-image: url("../img/icons/action/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
}

.benefits-input-checkbox:checked + .filter-benefits-description::before {
  content: "";
  background-image: url("../img/icons/action/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.benefits-input-checkbox:hover + .filter-benefits-description::before {
  opacity: 1;
}

.benefits-input-checkbox:disabled + .filter-benefits-description::before {
  opacity: 0.3;
}

.sort {
  grid-area: sort;

  margin-bottom: 48px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.sort-title {
  margin: 0 266px 0 0;
}

.sort-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 48%;
}

.sort-list {
  list-style: none;
  margin: 0 auto 0 0;
  padding: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.sort-list-item {
  margin-right: 25px;
}

.sort-list-item:last-child {
  margin-right: 0;
}

.sort-list-item-link:hover {
  opacity: 0.6;
}

.sort-list-item-link:active {
  opacity: 1;
}

.link-up {
  transform: rotate(180deg);
  display: block;
}

.catalog {
  grid-area: catalog;
}

.pagination {
  grid-area: pagination;
  margin-right: auto;
}

.range-slider {
  border: none;
  padding: 0;
  margin: 0;
}

.range-slider-title {
  margin-bottom: 48px;
}

.range-slider-control {
  margin-bottom: 14px;
}

.range-slider-input {
  max-width: 80px;
  padding: 8px 8px;
  margin-left: 11px;

  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: var(--secondary-bg-color);

  box-sizing: border-box;
}

.range-slider-inner {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 27px;

  margin-bottom: 54px;
}

.grid {
  border: none;
  padding: 0;
  margin: 0 0 48px 0;
}

.grid-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid-title {
  margin-bottom: 16px;
}

.grid-list-item {
  margin-bottom: 20px;
}

.grid-list-item:last-child {
  margin: 0;
}

.benefits {
  border: none;
  padding: 0;
  margin: 0 0 48px 0;
}

.benefits-title {
  margin-bottom: 16px;
}

.benefits-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.benefits-list-item {
  margin-bottom: 21px;
}

.benefits-list-item:last-child {
  margin: 0;
}

.filter-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-heading-5);
  line-height: var(--lh-subheading-3);

  text-transform: uppercase;

  color: var(--primary-color-text);
}

.range-slider-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-body-2);

  text-transform: uppercase;

  color: var(--secondary-color-text);
}

.filter-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-body-3);

  color: var(--secondary-color-text);
}

.sort-list-item-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body-2);
  line-height: var(--lh-footnote);

  text-transform: uppercase;

  color: var(--primary-color-text);
  opacity: 0.3;
}

.sort-list-item-link:hover {
  opacity: 0.6;
}

.sort-list-item-link:active {
  opacity: 1;
}

.sort-list-item-link-active {
  opacity: 1;
}

.sort-list-controls {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: flex-start;
}

.sort-list-controls-item {
  margin-right: 18px;
}

.sort-list-controls-item:last-child {
  margin-right: 0;
}

.sort-list-controls-item-link {
  opacity: 0.2;
}

.sort-list-controls-item-link:hover {
  opacity: 1;
}

.sort-list-controls-item-link-active {
  opacity: 1;
}

.sort-list-controls-item-link:active path {
  fill: var(--sort-nav-active);
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style: none;
  row-gap: 33px;
  column-gap: 42px;
  padding: 0;
  margin: 0 0 56px;
}

.catalog-list-item {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  padding-top: 40px;

  border: 1px solid rgba(0, 0, 0, 0.1);

  box-sizing: border-box;
}

.catalog-list-item:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.catalog-list-item-img {
  width: 358px;
  height: 578px;
  border-radius: 0 0 5px 5px;
  object-fit: cover;
  display: block;
}

.catalog-list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: url(../img/icons/browser.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.12;
}

.catalog-list-item:hover::before {
  transition: bottom 0.3s ease-in-out;
  border: none;
  opacity: 1;
}

.catalog-list-item:hover .catalog-list-item-inner {
  opacity: 1;
}

.catalog-list-item:focus-within .catalog-list-item-inner {
  opacity: 1;
}

.catalog-list-item-inner {
  background: var(--secondary-bg-color);
  text-align: center;
  padding-top: 26px;
  padding-bottom: 44px;

  max-height: 231px;
  width: 100%;

  position: absolute;
  bottom: 0;
  opacity: 0;

  transition: bottom 0.1s ease-in-out;
}

.catalog-button {
  padding: 17px 72px 15px;
}

.catalog-list-item-inner-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-heading-5);
  line-height: var(--lh-subheading-3);

  color: var(--primary-color-text);

  margin-bottom: 12px;
  display: block;

  text-transform: uppercase;
}

.catalog-list-item-inner-link:hover {
  color: var(--nerds-red);
}

.catalog-list-item-inner-link:active {
  color: var(--primary-color-text);
  opacity: 0.3;
}

.catalog-list-item-inner-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  color: var(--tertiary-color-text);
  margin: 0 0 32px 0;
  padding: 0 53px 0 52px;

  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.pagination-list-item-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  color: var(--primary-color-text);
}

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.pagination-list-item {
  margin-right: 11px;
}

.pagination-list-item-link {
  background-color: var(--secondary-bg-color);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.pagination-list .pagination-list-item-link-current {
  background: var(--main-bg-color);
}

.pagination-list-item-link-current {
  position: relative;
}

.pagination-list-item-link-current::before {
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 0;
  left: 0;

  background-color: transparent;
  border: 3px solid var(--secondary-bg-color);
  border-radius: 5px;
}

.pagination-list-item:last-child .button-secondary {
  padding: 16px 78px;
  display: block;
}

.pagination-list-item-link:hover {
  background-color: var(--secondary-button-hover-color);
}

.pagination-list-item-link:active {
  background-color: var(--secondary-button-active-color);
  color: var(--button-active-text-dark);
  box-shadow: inset 0px 3px 0px var(--button-active-shadow);
}

.pagination-list-item-link-current:hover::before {
  border: none;
  background-color: transparent;
}

.pagination-list-item-link-current:active::before {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 100%;
  max-width: 760px;

  color: var(--primary-color-text);
  background-color: var(--main-bg-color);
  box-shadow: 0px 20px 40px var(--modal-shadow);
  padding: 64px 99px 84px 100px;
  z-index: 1;
}

.modal-title {
  font-size: var(--font-size-heading-2);
  line-height: var(--lh-heading-4);
  font-weight: var(--font-bold);
  margin: 0 0 37px;
  padding-right: 50px;
}

.form-data {
  display: flex;
  justify-content: flex-start;

  margin-bottom: 34px;
}

.form-data .form-group {
  width: 50%;
}

.name {
  margin-right: 40px;
}

.message {
  margin-bottom: 46px;
}

.modal-form-label {
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-style: normal;
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  display: inline-block;
  vertical-align: middle;
  margin-bottom: 9px;
}

.modal-form input {
  width: 100%;
  height: 50px;
}

.message-input {
  width: 100%;
  height: 118px;
  padding-top: 16px;
  resize: none;
}

.form-input {
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-style: normal;
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  color: var(--promo-color-text);
  border: 2px solid var(--border-form);
  border-radius: 3px;
  background-color: var(--main-bg-color);
  padding-left: 15px;

  box-sizing: border-box;
}

.form-input:hover {
  border-color: var(--input-hover);
}

.form-input:focus {
  border-color: var(--primary-color-text);
  outline: none;
}

.form-input:invalid {
  border-color: var(--nerds-red-dark-10);
  color: var(--nerds-red-dark-10);
}

.modal-button {
  padding: 17px 83px 15px;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;

  border: 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/icons/action/icon-close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
  outline: none;
}
