/* Fonts */

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff2") format("woff2");
}

/* Variables */

:root {
  /* Typography */

  --font-family: "Roboto", -apple-system, BlinkMacSystemFont, Helvetica,
    sans-serif;

  --font-size-body-2: 14px;
  --font-size-body: 16px;
  --font-size-heading-5: 18px;
  --font-size-heading-4: 24px;
  --font-size-heading-3: 36px;
  --font-size-heading-2: 45px;
  --font-size-heading-1: 55px;

  --lh-footnote: 18px;
  --lh-body-3: 19px;
  --lh-body-2: 22px;
  --lh-body-1: 24px;
  --lh-subheading-3: 30px;
  --lh-subheading-2: 36px;
  --lh-subheading-1: 40px;
  --lh-heading-3: 45px;
  --lh-heading-2: 55px;
  --lh-heading-1: 64px;

  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;

  /* Colors-Palette */

  --grey-black: #000000;
  --grey-dark-10: #231f20;
  --grey-dark-20: #283136;
  --grey-dark-30: #444444;
  --grey-dark-40: #4d4d4d;
  --grey-dark-50: #666666;

  --grey-light-10: #a6a6a6;
  --grey-light-20: #ababab;
  --grey-light-30: #b4b9bb;
  --grey-light-40: #c1c1c1;
  --grey-light-50: #d7dcdf;
  --grey-light-60: #d7dcde;
  --grey-light-70: #d5d5d5;
  --grey-light-80: #dfdfdf;
  --grey-light-90: #dbdbdb;
  --grey-light-100: #e1e1e1;
  --grey-light-110: #f2f2f2;
  --grey-light-120: #eeeeee;
  --grey-white: #ffffff;

  --nerds-red: #fb565a;
  --nerds-red-dark-10: #e74246;
  --nerds-red-dark-20: #d7373b;

  --nerds-green: #00ca74;
  --nerds-green-dark-10: #00bc6c;
  --nerds-green-dark-20: #00aa62;

  --nerds-yellow: #efc84a;
  --nerds-yellow-dark-10: #eab534;
  --nerds-yellow-dark-20: #e5a722;

  /*Colors Semantic*/

  --primary-color-text: var(--grey-black);
  --secondary-color-text: var(--grey-dark-20);
  --tertiary-color-text: var(--grey-dark-50);
  --promo-color-text: var(--grey-dark-30);

  --main-bg-color: var(--grey-white);
  --secondary-bg-color: var(--grey-light-120);

  --secondary-button-hover-color: var(--grey-light-80);
  --secondary-button-active-color: var(--grey-light-70);

  --primary-button-color-text: var(--grey-white);

  --nerds-primary-button-color: var(--nerds-red);
  --nerds-primary-button-hover-color: var(--nerds-red-dark-10);
  --nerds-primary-button-active-color: var(--nerds-red-dark-20);

  --nerds-secondary-button-color: var(--nerds-green);
  --nerds-secondary-button-hover-color: var(--nerds-green-dark-10);
  --nerds-secondary-button-active-color: var(--nerds-green-dark-20);

  --nerds-tertiary-button-color: var(--nerds-yellow);
  --nerds-tertiary-button-hover-color: var(--nerds-yellow-dark-10);
  --nerds-tertiary-button-active-color: var(--nerds-yellow-dark-20);

  --button-active-text-light: rgb(255, 255, 255, 0.3);
  --button-active-text-dark: rgb(0, 0, 0, 0.3);
  --button-active-shadow: rgba(0, 1, 1, 0.1);

  --container-width: 1200px;
}

/* Global */

body {
  font-family: var(--font-family);
  font-weight: var(--font-medium);
  font-style: normal;
  font-size: var(--font-size-body);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-body {
  height: 100%;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-self: start;
  justify-items: center;
}

.main-page {
  width: 100%;
}

.container {
  width: var(--container-width);
  min-width: var(--container-width);
  padding: 0 20px 0;
  box-sizing: border-box;

  margin: 0 auto;
}

.link {
  text-decoration: none;
}

/* Header */
.header {
  width: 100%;

  background-color: var(--secondary-bg-color);
}

.header-navigation-logo {
  color: var(--primary-color-text);
}

.header-navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 45px;
}

.header-navigation-list {
  list-style: none;
  padding: 0 6px;
}

.header-navigation-list-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-size-body);
  line-height: var(--lh-subheading-3);

  text-transform: uppercase;

  color: var(--primary-color-text);
}

/* Main */

.slider {
  background-color: var(--secondary-bg-color);
  width: 100%;
}

.slider-list {
  list-style: none;
}

.slider-list-banner {
  padding-top: 78px;
  padding-bottom: 80px;
}

.slider-list-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-size-heading-1);
  line-height: var(--lh-heading-2);

  color: var(--primary-color-text);

  padding-bottom: 27px;
  margin: 0;
}

.slider-list-text {
  margin: 0 0 36px;
}

.slider-button {
  display: inline-block;
  padding: 17px 54px 15px 54px;

  vertical-align: middle;
}

.slider-list-control {
  list-style: none;
}

.slider-list-control-button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.main-title {
  background-color: var(--secondary-bg-color);
  padding-top: 78px;
  padding-bottom: 108px;
  margin: 0;
  text-align: center;
}

.text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-body-1);

  color: var(--secondary-color-text);
}

.feauters {
  padding-top: 80px;
  padding-bottom: 80px;

  border-bottom: 2px solid var(--grey-light-120);
}

.feauters-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  text-align: center;
}

.feauters-list-item {
  text-align: left;
}

.feauters-list-item-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-heading-4);
  line-height: var(--lh-subheading-3);
  text-transform: uppercase;

  margin: 0 0 16px;
}

.feauters-list-item-text {
  padding-right: 40px;
  margin: 0 0 32px;
}

.feauters-list-item-button {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  text-transform: uppercase;

  border: none;
  border-radius: 3px;

  display: inline-block;
  vertical-align: middle;

  color: var(--primary-button-color-text);

  padding: 17px 40px 15px 39px;
}

.feauters-list-item-button:active {
  color: var(--button-active-text-light);
  box-shadow: inset 0px 3px 0px var(--button-active-shadow);
}

.button-web {
  background-color: var(--nerds-primary-button-color);
}

.button-web:hover {
  background-color: var(--nerds-primary-button-hover-color);
}

.button-web:active {
  background-color: var(--nerds-primary-button-active-color);
}

.button-app {
  background-color: var(--nerds-secondary-button-color);
}

.button-app:hover {
  background-color: var(--nerds-secondary-button-hover-color);
}

.button-app:active {
  background-color: var(--nerds-secondary-button-active-color);
}

.button-presentation {
  background-color: var(--nerds-tertiary-button-color);
}

.button-presentation:hover {
  background-color: var(--nerds-tertiary-button-hover-color);
}

.button-presentation:active {
  background-color: var(--nerds-tertiary-button-active-color);
}

/* Button */

.button-primary {
  background-color: var(--nerds-primary-button-color);

  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  text-transform: uppercase;

  border: none;
  border-radius: 3px;

  color: var(--grey-white);
}

.button-primary:hover {
  background-color: var(--nerds-primary-button-hover-color);
}

.button-primary:active {
  background-color: var(--nerds-primary-button-active-color);
  color: var(--button-active-text-light);
  box-shadow: inset 0px 3px 0px var(--button-active-shadow);
}

.button-secondary {
  background-color: var(--secondary-bg-color);

  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  text-transform: uppercase;

  border: none;
  border-radius: 3px;

  color: var(--primary-color-text);

  padding: 17px 89px 15px 88px;
}

.button-secondary:hover {
  background-color: var(--secondary-button-hover-color);
}

.button-secondary:active {
  background-color: var(--secondary-button-active-color);
  color: var(--button-active-text-dark);
  box-shadow: inset 0px 3px 0px var(--button-active-shadow);
}

/* About */

.about {
  padding-top: 39px;
  padding-bottom: 75px;
  display: grid;
  grid-template-columns: 1fr 360px;
  column-gap: 149px;
}

.about-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-size-heading-2);
  line-height: var(--lh-heading-3);

  color: var(--primary-color-text);

  margin: 0 0 33px;
}

.about-text {
  margin: 0 0 40px;
}

.about-subtitle {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-body);
  line-height: var(--lh-body-1);

  text-transform: uppercase;

  color: var(--secondary-color-text);
  margin: 0;
}

.about-services {
  margin: 0 0 23px;
}

.about-services-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-services-list-item {
  margin-bottom: 24px;
}

.about-services-list-item:last-child {
  margin: 0;
}

.about-benefits-subtitle {
  margin: 245px 0 31px;
}

.about-benefits-number {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-heading-2);
  line-height: var(--lh-heading-1);

  color: var(--primary-color-text);
  margin: 0;
}

.about-benefits-number-item {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-heading-3);
  line-height: var(--lh-subheading-1);

  color: var(--primary-color-text);
}

.about-benefits-item {
  width: 33%;
}

.about-benefits-text {
  font-family: var(--font-family);

  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  color: var(--secondary-color-text);
  margin: 0;
}

.about-benefits-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;
  padding: 0;
  margin: 0;
}

/* Partners */

.partners-list {
  list-style: none;
  padding: 46px 0 44px;
  border-top: 2px solid var(--grey-light-120);
  border-bottom: 2px solid var(--grey-light-120);

  margin-bottom: 80px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.partners-list-item-logo {
  color: var(--primary-color-text);
  opacity: 0.2;
}

.partners-list-item-logo:hover {
  opacity: 1;
}

.partners-list-item-logo:active {
  opacity: 0.1;
}

/* Footer */

.footer-map {
  margin-bottom: 68px;
}

.footer-contacts {
  max-width: 320px;
  padding: 50px;

  box-sizing: border-box;
  background-color: var(--main-bg-color);
}

.footer-contacts-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-heading-5);
  line-height: var(--lh-subheading-3);

  text-transform: uppercase;

  color: var(--primary-color-text);

  margin: 0 0 22px;
}

.footer-contacts-list-address {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  color: var(--tertiary-color-text);
  margin: 0 0 18px;
}

.footer-contacts-list-phone {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  color: var(--tertiary-color-text);
  margin-bottom: 37px;

  display: inline-block;
  vertical-align: middle;
}

.footer-contacts-button {
  display: inline-block;
  padding: 17px 44px 15px;
}

.footer-bonus-promo-slogan {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-heading-3);
  line-height: var(--lh-subheading-2);

  color: var(--primary-color-text);
  margin: 0 0 10px;
}

.footer-bonus-promo-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-body-2);

  color: var(--promo-color-text);
  margin: 0;
}

.footer-bonus {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 139px;

  justify-items: center;
}

.footer-bonus-social {
  list-style: none;
  padding: 0;
  margin: 0 0 68px;
  display: flex;
}

.footer-bonus-social-logo {
  background-color: var(--secondary-button-active-color);
  width: 81px;
  height: 81px;
  display: block;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bonus-social-logo:hover {
  background-color: var(--nerds-primary-button-hover-color);
}

.footer-bonus-social-logo:active {
  background-color: var(--nerds-primary-button-active-color);
  box-shadow: inset 0px 3px 0px var(--button-active-shadow);
}

.footer-bonus-social-logo:active img {
  opacity: 0.3;
}

/* Catalog*/

/* Catalog grid*/

.catalog-page {
  width: 100%;
}

.catalog-page-section-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 260px 1fr;

  grid-template-areas:
    "filter sort"
    "filter catalog"
    ". pagination";

  column-gap: 141px;
  margin-bottom: 60px;
}

.main-title--catalog {
  margin-bottom: 55px;
}

.filter {
  grid-area: filter;
}

.sort {
  grid-area: sort;

  margin-bottom: 48px;
}

.sort-title {
  margin: 0;
}

.sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog {
  grid-area: catalog;
}

.pagination {
  grid-area: pagination;
}

/* Filter*/

.range-slider {
  border: none;
  padding: 0;
  margin: 0;
}

.range-slider-title {
  margin-bottom: 48px;
}

.range-slider-control {
  margin-bottom: 14px;
}

.range-slider-input {
  max-width: 80px;
  padding: 8px 16px;

  box-sizing: border-box;
}

.range-slider-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 33px;

  margin-bottom: 54px;
}

.grid {
  border: none;
  padding: 0;
  margin: 0;
}

.grid-list {
  list-style: none;
  padding: 0;
  margin: 0 0 43px;
}

.grid-title {
  margin-bottom: 16px;
}

.grid-list-item {
  margin-bottom: 15px;
}

.grid-list-item:last-child {
  margin: 0;
}

.benefits {
  border: none;
  padding: 0;
  margin: 0;
}

.benefits-title {
  margin-bottom: 16px;
}

.benefits-list {
  list-style: none;
  padding: 0;
  margin: 0 0 48px;
}

.benefits-list-item {
  margin-bottom: 17px;
}

.benefits-list-item:last-child {
  margin: 0;
}

.filter-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-heading-5);
  line-height: var(--lh-subheading-3);

  text-transform: uppercase;

  color: var(--primary-color-text);
}

.range-slider-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-body-2);

  text-transform: uppercase;

  color: var(--secondary-color-text);
}

.filter-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-body-3);

  color: var(--secondary-color-text);
}

.sort-list-item-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body-2);
  line-height: var(--lh-footnote);

  text-transform: uppercase;

  color: var(--primary-color-text);
  opacity: 0.3;
}

.sort-list-item-link:hover {
  opacity: 0.6;
}

.sort-list-item-link:active {
  opacity: 1;
}

.sort-list-controls {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Catalog items*/

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style: none;
  row-gap: 30px;
  column-gap: 42px;
  padding: 0;
  margin: 0 0 55px;
}

.catalog-list-item {
  min-height: 619px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.catalog-list-item-inner {
  background: var(--secondary-bg-color);
  text-align: center;
  padding: 20px 40px 40px 40px;
}

.catalog-button {
  padding: 17px 72px 15px;
}

.catalog-list-item-inner-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-bold);
  font-size: var(--font-size-heading-5);
  line-height: var(--lh-subheading-3);

  color: var(--primary-color-text);
}

.catalog-list-item-inner-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-regular);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  color: var(--tertiary-color-text);
}

/* Pagination*/

.pagination-list-item-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-medium);
  font-size: var(--font-size-body);
  line-height: var(--lh-footnote);

  color: var(--primary-color-text);
}

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.pagination-list-item {
  margin-right: 11px;
}

.pagination-list-item-link {
  background-color: var(--secondary-bg-color);
  padding: 14px 18px 12px;
  border-radius: 3px;
}

.pagination-list-item-link-current {
  border: 3px solid var(--secondary-bg-color);
  background-color: var(--main-bg-color);
  padding: 14px 18px 12px;
  border-radius: 3px;
}

.pagination-list-item:last-child .button-secondary {
  padding: 17px 78px 15px 78px;
}
